.nav-color{
    background-color:#f6f6f6;
    
}

.logo1{
    font-family: Kavoon,cursive;
    font-weight: 300;
    font-size: 40px;
    line-height: 20px;
}
.logo2{
    font-family: Russo One;
    color: #EE1010;
    font-weight: 300;
    font-size: 40px;
    line-height: 20px;
}

.ant-btn-primary {
    background-color: red !important;
}
