*{
    margin: 0;
    padding: 0;
}

/* .user-lol{
    margin-left: 42px;
    font-size: 21px;
    background-color: rgb(160, 160, 211);
    cursor: pointer;
   
} */
.firstdivO{
    width: 100%;
    height: 19rem;
    display: flex;
    justify-content: space-between;
}
.welcomeO{
    margin: auto;
    text-align: center;
}
/* .welcomeO h1{
    font-size:3vw;
    font-weight: bold;
}
.welcomeO p{
    font-size:2vw;
} */
.imagefirst{
    display: flex;
    justify-content: flex-end;
}
.mus{
    font-weight: bold ;
}

.carddiv Button{
   margin-left: 6rem;
    background-color: black;
}

.card{
    /* margin: auto; */
}
/* .wegO{
  width: 100%;
  height: 19rem;
  background-color: white;
  display: flex;
} */

.textAO{
    /* margin: auto; */
    box-sizing: border-box;
}

.textAO h3{
    font-size: 4vh;
    text-align: center;
    padding-top: 30px;
}

.textAO h1{
    font-size: 3rem;
    font-weight: bold; 
    text-align: center;
}
.textAO Button{
    margin-left:6rem;
    margin-top: 1rem;
    background-color: black;
}
.wegimgO{
    display: flex;
    justify-content: flex-end;
}



